{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      text-align: center;
      font-family:'Courier New', Courier, monospace;
      margin: 0 0 0 0;
    }
    label {
      font-size: 1.5em;
      text-align: center;
    }
    h1 {
      background-color: rgb(210, 242, 255);
      margin-top: 0;
    }
  </style>
</head>
<body>
  <h1>News Manager</h1>
  {% block content %}
  {% endblock %}
</body>
</html>